detritus
distribute
src/*.o
Detritus.app
*.dmg



.DS_Store
Detritus.exe
Makefile
Makefile.osx-2012
Makefile.osx-2017
Makefile.osx-multiarch
Makefile.osx.eh
*.dll
build_arm64/
builds/
detritusnew.nsi
libs/
misc/
out
test/
tmp/
